@model MyBlog.Models.NewBlogViewModel
@using Microsoft.AspNetCore.Identity
@using MyBlog.Areas.Identity.Data;

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<h4>Blog</h4>
<hr />

<div class="row">
    <partial name="_rightSideBar" />
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Blog.BlogTitle" class="control-label"></label>
                <input asp-for="Blog.BlogTitle" class="form-control" />
                <span asp-validation-for="Blog.BlogTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Blog.BlogBrief" class="control-label"></label>
                <textarea asp-for="Blog.BlogBrief" class="form-control" style="height:200px;resize:none;" maxlength="150"></textarea>
                <span asp-validation-for="Blog.BlogBrief" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Blog.FKApplicationUser" class="form-control" value="@UserManager.GetUserId(User)" type="hidden">
            </div>

            <div class="form-group">
                @Html.DropDownListFor(m => m.Blog.FkCatergory, new SelectList(Model.Catergories, "Id", "Name"), "请选择分类", new { @class = "select-tag" })
            </div>

            <h3>标签选择</h3>
            <div class="label_select">
                @foreach (var label in Model.labels)
                {
                    <span class="B_label" value="@label.Id">
                        @Html.DisplayFor(modelItem => label.Name)
                        <div class="label_close_button" onclick=""><span class="glyphicon glyphicon-remove"></span></div>
                    </span>
                }
            </div>
            <input type="hidden" class="label_input" asp-for="LabelStr" />
            <div id="editor" class="form-group">
                <label asp-for="Blog.BlogContent" class="control-label"></label>
                <textarea asp-for="Blog.BlogContent" class="form-control"></textarea>
                <span asp-validation-for="Blog.BlogContent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default submit" />
            </div>



        </form>

    </div>
</div>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        $(document).ready(function () {
            init();
        });

        function init(md) {
            // editor: div id
            var editor = editormd("editor", {
                width: "100%",
                height: 500,
                path: "/editor.md/lib/",
                // theme: "dark"
                // previewTheme : "dark",
                //editorTheme: "pastel-on-dark",
                markdown: md,
                emoji: "true"


            });

        }
    </script>
}
