@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<!-- right side bar fixed -->
<div class="rightSideBar">
    <ul>
        <a asp-controller="Blogs" asp-action="Create"><li><span class="glyphicon glyphicon glyphicon-edit"></span></li></a>
        <a href="#"><li><span class="glyphicon glyphicon glyphicon-chevron-up"></span></li></a>
        <a href="#detailFinish"><li><span class="glyphicon glyphicon-chevron-down"></span></li></a>
    </ul>
</div>
