@{
    ViewData["Title"] = "Home Page";
}
    <div class="row">
        <div class="C_container" style="margin-top:20px;">
            <div class="sideBar"></div>
            <div class="label">
                <p style="text-align: left;font-size: 20px; margin-bottom:20px;"><span class="glyphicon glyphicon-tag"></span>标签</p>
                <p class="label_content">技术</p>
                <p class="label_content">技术</p><p class="label_content">技术</p>
                <p class="label_content">技术</p><p class="label_content">技术</p>
                <p class="label_content">技术</p>
            </div>
            <div class="main">
                <div class="Blog_title">MVC ASP.NET: Introduction</div>
                <div class="Blog_information">
                    <span class="Blog_Date"><span class="glyphicon glyphicon-calendar" style="margin-right:8px;"></span>Date 2019-01-23</span>
                    <span class="Blog_category"><span class="glyphicon glyphicon-folder-close" style="margin-right:8px;"></span>分类： <p style="display:inline-block; color:black;">笔记</p></span>
                    <span class="comment_count"><span class="glyphicon glyphicon-comment" style="margin-right:8px;"></span>评论： 3</span>
                </div>
                <div class="Blog_content">
                    最近我用了两个星期读完了刘慈欣的三体三部曲，《地球往事》、《黑暗森林》、《死神永生》。因为是科幻小说，作者从上帝视角，以宏大的时间跨度，去叙述两个文明在宇宙中为了生存，付诸的努力。本文尽量不叙述小说的剧情。 故事开始于黑暗的文革时期。对现实世界心灰意冷的叶文洁，按下发射键。发出了地球文明向宇宙的第一声啼哭，内容是"Hello...
                </div>
            </div>
            <div class="main">
                <div class="Blog_title">MVC ASP.NET: Introduction</div>
                <div class="Blog_information">
                    <span class="Blog_Date"><span class="glyphicon glyphicon-calendar" style="margin-right:8px;"></span>Date 2019-01-23</span>
                    <span class="Blog_category"><span class="glyphicon glyphicon-folder-close" style="margin-right:8px;"></span>分类： <p style="display:inline-block; color:black;">笔记</p></span>
                    <span class="comment_count"><span class="glyphicon glyphicon-comment" style="margin-right:8px;"></span>评论： 3</span>
                </div>
                <div class="Blog_content">
                    最近我用了两个星期读完了刘慈欣的三体三部曲，《地球往事》、《黑暗森林》、《死神永生》。因为是科幻小说，作者从上帝视角，以宏大的时间跨度，去叙述两个文明在宇宙中为了生存，付诸的努力。本文尽量不叙述小说的剧情。 故事开始于黑暗的文革时期。对现实世界心灰意冷的叶文洁，按下发射键。发出了地球文明向宇宙的第一声啼哭，内容是"Hello...
                </div>
            </div>
            <div class="main">
                <div class="Blog_title">MVC ASP.NET: Introduction</div>
                <div class="Blog_information">
                    <span class="Blog_Date"><span class="glyphicon glyphicon-calendar" style="margin-right:8px;"></span>Date 2019-01-23</span>
                    <span class="Blog_category"><span class="glyphicon glyphicon-folder-close" style="margin-right:8px;"></span>分类： <p style="display:inline-block; color:black;">笔记</p></span>
                    <span class="comment_count"><span class="glyphicon glyphicon-comment" style="margin-right:8px;"></span>评论： 3</span>
                </div>
                <div class="Blog_content">
                    最近我用了两个星期读完了刘慈欣的三体三部曲，《地球往事》、《黑暗森林》、《死神永生》。因为是科幻小说，作者从上帝视角，以宏大的时间跨度，去叙述两个文明在宇宙中为了生存，付诸的努力。本文尽量不叙述小说的剧情。 故事开始于黑暗的文革时期。对现实世界心灰意冷的叶文洁，按下发射键。发出了地球文明向宇宙的第一声啼哭，内容是"Hello...
                </div>
            </div>
        </div>
    </div>
